/*===== Header =====*/

header {
    background-color: #688472;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding-top: 2em;
    width: 100%;
}
.App{
	position: relative;
}

.nav_logo {
    display: grid;
    place-self: center;
    width: 14rem;
}

.navbar {
    display: inline-grid;
    align-content: start;
    place-items: center;
    justify-self: end;
    grid-template-columns: 1fr 1fr 1fr;
    width:75%;
}
/*===== Searchbar =====*/
.searchBar {
    display: grid;
    place-self: center;
    align-self: end;
    justify-self: end;
}

/*===== Main shared =====*/

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
	position: relative;
}

.main-wrapper {
    padding-top: 2em;
    display: grid;
    place-items: center;
}

/*===== Footer =====*/

footer {
    background-color: #688472;
    padding: 2em;
}


/*===== Sidepanel =====*/

.side {
    background-color: #ECB390;
}

.side_img {
    width: 85%;
    margin-top: 2em;
}

/*===== Landingpage =====*/

.card {
    display: grid;
    max-width: 90%;
    min-width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: #415d51;
    background-color: #FCF8E8;
    padding: 0.5em;
    padding-left: 2em;
}

.card-product {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    place-items: center;
}

.card-product-result{
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr;
    place-items: center;
}
.book-image-wrapper {
    height: 200px;
    width: 150px;
    background-color: #FCF8E8;
    display: grid;
    align-self: start;
}

.book-img {
    display: grid;
    place-self: center;
    height: 100%;
    max-width: 150px;
    max-height: 200px;
}
.card-product-link {
    color:#415d51;
    letter-spacing: 0.2px;
    font-size: 0.9rem;
}

.card-product-link:hover {
    background-color: #FCF8E8;
    color:#415d51;
}

.card-product-title {
    padding: 1em;
    align-self: start;
} 
.card-product-price {
    font-size: 1rem;
    align-self: start;
}

/*===== LoginView + UserProfileView =====*/

.login-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
	position: relative;
}

.login-wrap{
    display: grid;
    place-items: center;
    padding: 3em;
}

form {
    display: grid;
    place-items: center;
}

input {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    border: none;
    border-bottom: 2px solid #DF7861;
    background-color: #FCF8E8;
    outline: none;
    color: #bb4a31;
    font-size: 15px;
}

input:focus {
    border: none;
    border-bottom: 2px solid #bb4a31;
    color: #415d51;
}

.login-button{
    margin-top: 1.5em;
    width: 100%;
}

.add-account-wrap {
    background-color: #ECB390;
    display: grid;
    place-items: center;
    padding: 3em;
}

.cr-account {
    background-color: #ECB390;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #FCF8E8;
}

.cr-account:focus {
    background-color: #ECB390;
    color: #DF7861;
    border: none;
    border-bottom: 2px solid #DF7861;
}

.cr-head-text {
    color: #FCF8E8;
}

.add-account-resp-wrap {
    background-color: #ECB390;
    display: grid;
    place-items: center;
}

.cr-resp-head-text {
    color: #FCF8E8;
}

.cr-resp-text {
    color: #FCF8E8;
    font-size: 1.2rem;
}

.cr-resp-img {
    max-width: 15%;
}

.ud-head-text {
    color: #FCF8E8;
    margin-bottom: 2em;
}

.profile-view-links {
    color: #DF7861;
}

.profileNav-wrap {
    display: grid;
    place-items: center;
}

/*====== BookView ======*/

.bookView-main-container {
    display: grid;
}
.bookView-main-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 2em;
    margin: 1em 0em;
}

.bookView-image-placeholder {
    display: grid;
    place-items: center;
    background-color: #504e4d;
    height: 21em;
    width: 12em;
}

.bookView-image-wrapper {
    display: grid;
    place-items: center;
    padding: 1em;
    height: 21em;
    width: 12em;
}

.book-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.bookview-title {
    margin-bottom: 0;
}

.book-info{
    color:#504e4d;
}

.book-info::first-letter{
    text-transform: capitalize;
}

.book-info-r {
    display: grid;
    place-items: center;
    border-left: 2px solid #688472;
    margin-left: 3em;
}

.book-info-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
    color:#504e4d;
}

.store_logo{
    width: 25%;
    -webkit-filter: invert(100%);
}

.book-info-seller {
    letter-spacing: 1.5px;
    color: #DF7861;
    font-weight: bold;
    margin-bottom: 1em ;
}