header {
    background-color: #688472;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.nav_logo {
    width: 200px;
    margin: 1.5em 0em 0em 2em;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 7em;
}

.menu-item {
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

footer {
    background-color: #688472;
    padding: 2em;
}

.side {
    background-color: #ECB390;
}

.side_img {
    width: 85%;
}

.main-wrapper {
    padding-top: 2em;
    display: grid;
    place-items: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: #415d51;
    background-color: #FCF8E8;
    padding: 0.5em;
    padding-left: 2em;
}

.card-product {
    display: grid;
    place-items: center;
    padding: 1em;
}

.book-image {
    height: 200px;
    width: 150px;
    background-color: #e7d2ac;
}

/*.read-the-docs {
    color: #ababab;
}*/
