header {
    background-color: #222222;
    padding: 3em;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

footer {
    background-color: #4c4c4c;
    padding: 2em;
}

.side {
    background-color: #ababab;
}

.card {
    
    color: #808080;
    background-color: #ffffff;
    padding: 0.5em;
    padding-left: 2em;
    border-bottom: solid;
    border-color: #d3d3d3;
}

.card-product {
    display: inline-grid;
    place-items: center;
    padding: 1em;
}

.book-image {
    height: 200px;
    width: 150px;
    background-color: #d2d2d2;
}

.read-the-docs {
    color: #ababab;
}
