*{
	box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #fcf8e8;
}

a:hover {
  color: #edb183;
  background-color: #688472;
}

body {
  margin: 0;
  background-color: #fcf8e8;
}

main {
  display: grid;
}

h1 {
  color: #df7861;
  font-size: 2.4rem;
}

h2 {
  color: #df7861;
}

.h2-light {
  color: #fcf8e8;
}

h3 {
  color: #df7861;
}

h4 {
  color: #fcf8e8;
}

button {
  color: #fcf8e8;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #df7861;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #b5543e;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  opacity: 0.3;
  background-color: red;
  cursor: not-allowed;
}

.green-button {
  background-color: #688472;
}

.green-button:hover {
  background-color: #54705e;
}

button.btn-danger {
  background-color: #cb1b04;
  transition: 0.5s;
}
button.btn-danger:hover {
  background-color: #ff1b1b;
}
.btn-warning {
  background-color: #ee9e14;
  transition: 0.5s;
}
.btn-warning:hover {
  background-color: #f5bf0f;
}
.btn-call-to-action {
  background-color: #06b50f;
  transition: 0.5s;
}
.btn-call-to-action:hover {
  background-color: #07770c;
}