.cart-main-wrapper{
    background-color: #ECB390;
}
.cartView-container{
    display: grid;
    margin-top: 0.2em;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-left: 10em;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 60%;
}
.cartView-info{
    display: flex;
}
.cartView-info-l{
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 90%;
    padding-top: 2em;
    border-radius: 10px;
    margin: 1px;
}
 
.cartView-item-details-title{
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid rgba(238, 87, 18, 0.804) ;
    font-weight: bold;
    justify-content: center;
}
.cartView-item-details{
    margin-top: 1em;
    padding: 1em;
    border-bottom: 2px solid rgba(238, 87, 18, 0.804) ;
    font-weight: bold;
    justify-content: center;
}

.order-info{
    display: grid;
    background-color: antiquewhite;
    font-weight: bold;
    margin-left: 10em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    width: 20%;
}
.cart-btn{
    display: flex;
	margin-left: 6.5em;
	justify-content: center;
    padding: 1em;

   
}
.order-image{
    align-items: center;
}
.order-img{
    max-width: 15%;
    margin-left: 1em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}
