.cart-main-wrapper{
    background-color: #ECB390;
    align-items: center;
}
.cartView-container{
    display: grid;
    margin-top: 0.2em;
    justify-content: center;
    margin-left: 10em;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 45%;
    border-bottom: 2px solid;

}

.cartView-info-l{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    justify-content: baseline;
}
 
.cartView-item-details{
    margin-top: 1em;
    padding: 1em;
    border-bottom: 1px;
    font-size: small;
}
.cartView-item-details-amount{
    margin-top: 1em;
    padding: 1em;
    border-bottom: 1px;
    font-size: small;
    font-weight: bold;
}

.order-info{
    display: grid;
    background-color: antiquewhite;
    font-weight: bold;
    margin-left: 10em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 10px;
    width: 20%;
}
.cart-item-button{
    display: grid;
	justify-content: center;
    width: 30%;
    height: 60%;
}

.cart-item-remove-button{
    display: grid;
	justify-content: center;
    width: 100%;
    height: 80%;
}
.order-image{
    align-items: center;

}
.store-logo{
    margin-top: 1em;
    width: 100%;
    -webkit-filter: invert(100%);
}
.order-img{
    max-width: 50%;
    margin-left: 1em;
    margin-top: 1em;
    padding-bottom: 0em;
}
