.admin-nav {
  display: flex;
  justify-content: space-around;
  background-color: #688472;
  border-top: 1px solid #ecb390;
  border-bottom: 1px solid #ecb390;
  padding: 0.5em 0em 0.5em 0em;
}
button {
  transition: 1s;
  scale: 75%;
}
button:disabled {
  opacity: 0.3;
  background-color: red;
  cursor: not-allowed;
}
button:hover {
  background-color: #415d51;
  color: #fcf8e8;
}
.admin-user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0em 3em;
}
.admin-user-list > button {
  align-self: center;
  justify-self: center;
}
.user-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em;
  border-bottom: 1px solid #ecb390;
}
.user-list-item:hover {
  background-color: #415d51;
  color: #fcf8e8;
}
.admin-user-edit {
  margin: 3em;
  position: relative;
}
.admin-user-edit > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user-list-item-util > svg {
  margin: 0 0.5em;
}
.admin-user-edit > form > button {
  align-self: center;
}
.admin-user-edit-checkbox-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.admin-user-edit-checkbox-area > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-x-mark {
  background: none;
  color: inherit;
  border: none;
  padding: 0em 0.3em;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 3em;
  position: absolute;
  right: 5%;
  top: 0;
}
.update-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-box > h3 {
  color: white;
}
.update-ok {
  background-color: #71cb16;
  border: 5px solid #345f08;
  border-radius: 0.5em;
}
.update-fail {
  background-color: #e9541a;
  border: 5px solid #8d2f0a;
  border-radius: 0.5em;
}
