.cartView-main-wrapper{
    display: grid;
}
.cartview-title{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0em;
    margin: 0em;
    font-size: 2em;
}
.cartview-author{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0em;
    margin: 0em;
    font-size: 1,5em;
    color: grey;
}
