.login-view-overlay {
  background-color: rgba(254, 249, 244, 0.5);
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100vw;
  position: absolute;
  top: 0em;
  left: 0em;
  z-index: 100;
  place-content: center;
}
.login-error-message-container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-error-message-h {
  color:#fcf8e8;
}

.login-error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c14515;
  background-color: #ecb390;
  padding: 3em;
  box-shadow: 5px 5px 10px #8d6d509c;
  border-radius: 0.2em;
}
.login-error-message >svg{
  color:#fcf8e8;
	font-size: 3em;
}
.creation-error-message-container {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  .creation-error-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  color: #2d4737;
	padding: 3em;
	box-shadow: 5px 5px 10px #8d6d509c;
	border-radius: 0.2em;
	z-index: 110;
	background-color: #fcf8e8;
  }
  .creation-error-message >svg{
    color:#DF7861;
		font-size: 3em;
  }
p.error{
	color: red;
	font-size: 0.7em;
	position: relative;
	bottom: 2em;
	margin: 0em;
	padding: 0em;
}