.userprofile-view {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
	position: relative;
}

.userprofile-wrap {
    display: grid;
    align-self: start;
    place-items: center;
    padding: 1em;
}

.profile-nav {
    display: grid;
    margin-top: 3em;
}

.profile-navlink {
   color: #df7861;
   font-weight: bolder;
   font-size: larger;
   margin-bottom: 1em;
}

.profile-navlink:hover {
    cursor: pointer;
    color: #688472;
    background-color: #fcf8e8;
}

.h2-light {
    margin-bottom: 2em;
}

/*===== SellerView =====*/

.seller-wrap {
    display: grid;
    place-items: center;
}

.seller-profile-head-text {
    color: #fcf8e8;
    margin-bottom: 2em;
}

.seller-profile-booklist {
    width: 100%;
    background-color: #fcf8e8;
    margin-bottom: 2em;
}

.seller-profile-booklist-h {
    background-color: #415d51;
    color: #fcf8e8;
    padding: 1em;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr;
}

.seller-profile-booklist-h-text {
    display: grid;
    place-self: center;
}

.seller-profile-booklist-h-titletext {
    padding-left: 0em;
}

.seller-book-listitem {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr;
    border-bottom: solid 1px #e3e4da;
}

.seller-book-listitem-text , .seller-book-listitem-title {
    color:#415d51;
    padding: 1em 3em 1em 1em;
    width: 100%;
}

.seller-book-listitem-text-status {
    display: grid;
    place-self: center;
    font-size: 0.9em;
    color:#415d51;
}

.seller-book-listitem-title:hover {
    color: #df7861;
    background-color: #fcf8e8;
}

.seller-book-listitem-icon {
    margin-top: 1em;
    color:#688472;
}

.seller-book-listitem-icon:hover {
    margin-top: 1em;
    color:#415d51;
    cursor: pointer;
}

.seller-book-listitem-empty {
    width: 100%;
    height: 2em;
    background-color: #fcf8e8;
}