.searchInputs {
	margin-top: 1px;
	display: flex;
  }
  
  .search input {
	background-color: white;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 18px;
	padding: 5px;
	height: 30px;
	width: 300px;
  }

.searchIcon {
	height: 30px;
	width: 30px;
	padding: 5px;
	margin-left: 2px;
	background-color: #fcf8e8;
	display: grid;
	place-items: center;
}

	.searchIcon:hover {
		background-color: #fcf8e8;
	}

.closeIcon {
	height: 30px;
	width: 30px;
	padding: 5px;
	background-color:white;
	display: grid;
	place-items: center;
	cursor: pointer;
}

  input:focus {
	outline: none;
  }

.searchIcon svg {
	font-size: 30px;
	color: #415d51;
}

.closeIcon svg {
	font-size: 30px;
	color: #415d51;
}


  .dataResult {
	position: absolute;
	margin-top: -35px;
	width: 300px;
	height: 200px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	z-index: 2;
  }

	.dataResult ::-webkit-scrollbar {
	width: 10px;
	}

	.dataResult .dataItem {
		width: 98%;
		height: 25px;
		padding:5px 0px 5px 3px;
		display: flex;
		align-items: center;
		color: #415d51;
	}

.dataItem:hover {
	color: #fcf8e8;
}

.dataItem p {
	margin-left: 3px;
	padding: 10px 0 10px 0;
	font-size: 10px;
}


  a {
	text-decoration: none;
  }
  
  a:hover {
	background-color: lightgrey;
  }
  
  #clearBtn {
	cursor: pointer;
  }